* {
  box-sizing: border-box;
}

body {
  margin-left: 2px;
  margin-right: 2px;
  padding: 0;
  height: 100%;
  font-family: cursive;
  background-image: -webkit-linear-gradient(65deg, #3bd6c9 40%, #46dd39 60%);
}

.heading {
  text-align: center;
  color: #f31f2d;
}

.nav-link {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  background-color: rgb(113, 184, 242);
  height: 70px;
  border-top: 2px black solid;
}

ul {
  list-style-type: none;
  display: flex;
}

li {
  margin: 0 10px;
}

.main-head {
  border-top: 2px black solid;
}

.head-word {
  font-size: 3rem;
  padding-left: 20px;
  color: rgb(6, 18, 14);
}

.new {
  width: 55%;
}

table {
  width: 80%;
  border: 3px black solid;
}

td {
  padding-left: 6px;
  font-size: 1.3rem;
}

.fa-icon {
  color: rgb(41, 56, 13);
}

.adding {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.input-mark {
  display: flex;
  width: 70%;
  flex-direction: column;
  padding: 10px;
  gap: 20px;
}

.reload {
  padding: 5px;
  width: 80px;
  box-shadow: 3px 3px 3px 3px;
  background-color: rgba(238, 19, 194, 0.876);
}

.submit {
  width: 80px;
  align-self: flex-end;
  margin-right: 10px;
  padding: 5px;
  box-shadow: 3px 3px 3px 3px;
  background-color: rgb(219, 9, 174);
}

#link {
  width: 55%;
  padding: 10px;
}

button {
  cursor: pointer;
}

button:hover {
  color: white;
  border-radius: 35%;
  background-color: rgb(70, 23, 239);
}

#footer {
  height: 30px;
  width: 100%;
  background-color: rgb(84, 164, 228);
  border-top: 2px black solid;
}

#add-name {
  border-radius: 10%;
  border-color: rgb(145, 24, 197);
}

input {
  color: rgb(149, 27, 27);
}

#add-score {
  border-radius: 10%;
  border-color: rgb(145, 24, 197);
}

.fa-search {
  padding: 16px;
}

table > tbody > tr:nth-of-type(even) {
  background-color: rgb(90, 246, 78);
}

table > tbody > tr:nth-of-type(odd) {
  background-color: rgb(0, 221, 255);
}

.input-mark > input {
  padding: 7px;
  width: 110%;
}

.main-container {
  display: flex;
  padding: 20px 50px;
}

.adding-head {
  padding-left: 10px;
}

header {
  background-color: rgb(8, 153, 117);
}
